{% block head %}

<title>Create Collection</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Create Collection</h1>

    <div class="form">
        <form action="/create_col" method="POST">

                <br>
            <label for="url">url</label>
            <input type="text" name="url" id="url">
                </br>
                <br>
            <label for="db">DB Name</label>
            <input type="text" name="DB Name" id="db">
                </br>
            <br>
            <label for="col name">Collection Nmae</label>
            <input type="text" name="collection Name" id="col name">
            </br>
            <input type="text" name="inp1" id="inp1">
            <input type="text" name="inp2" id="inp2">
            <input type="text" name="inp3" id="inp3">
            <input type="submit" value="create Collection">

        </form>
    </div>
</div>
{% endblock %}